@import url(./_dark/navigation__image-container_dark.css);
.navigation__image-container{
    background: white;
      width: 100px;
      height: 100px;
      border-bottom-right-radius:30px;
     
  }